#mainPopup {
  padding: 10px;
  height: 200px;
  width: 320px;
  color: #1a1a1a;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  background-color: #dfdfdf;
}

h1 {
  font-size: 2em;
}

.form-id {
  margin-bottom: 18px;
}

.form-input {
  border-radius: 8px;
  border: solid 1px #1a1a1a;
  outline: none;
}

.form-input:hover {
  background-color: #fadfdf;
}

.form-input:focus {
  border: solid 1px #cc0000;
  background-color: #fadfdf;
}

.button-container {
  text-align: center;
  margin-top: 5px;
}

.min-time {
  text-align: center;
}

.welcome {
  margin-top: -20px;
  text-align: center;
}
